<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>

    <stepAssemblies>
      <stepAssembly assembly="Cmc.Engage.UIAutomation.SpecBindings" />
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="OnlineCrmUrl" value="#{ReachURL}#" />
	  <add key="RegUrl" value="https://900085engagecms-qa4.azurewebsites.net/newreg"/>

	  <add key="AzureKey" value="" />
    
    <!--For New tenant Org-->
	  <add key="MfaEngage" value="RMMBWPXW6ZKC6YMX" />
    <add key="MfaEngageEdge" value="RMMBWPXW6ZKC6YMX" />    

    <!--For New Engage Org-->
    <!--add key="MfaEngage" value="p6st5lgtvplyrx2s" />-->
    
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
	  <add key="GoogleSyncBrowser" value="Edge"/>
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
	
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>