<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestFolderPath" value="C:\Users\PappuriBalaramiReddy\OneDrive - Anthology Inc\Desktop\GenerateTestReport\ReachTestReport\SourceXMLfiles\"/>
		<add key="GenerateReportPath" value="C:\Users\PappuriBalaramiReddy\OneDrive - Anthology Inc\Desktop\GenerateTestReport\ReachTestReport\TestReports\"/>
		<add key="ProjectName" value="Antholgy Reach - API Automation Report"/>
		<add key="Testrunname" value="pappuribr@campus.com@Build1234"/>
	</appSettings>
</configuration>